@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: #262626;
}


.button2 {
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #d2bdff;
    transition: all 0.1s linear;
    margin-left: 50px;
    background-color: black;
}

.button2:hover {
    border: 1px solid transparent;
    cursor: pointer;
}

.button2:hover span {
    position: absolute;
    display: block;
}

.button2:hover span:nth-child(1) {
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #3a86ff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.button2:hover span:nth-child(2) {
    filter: hue-rotate(60deg);
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3a86ff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.button2:hover span:nth-child(3) {
    filter: hue-rotate(120deg);
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(270deg, transparent, #3a86ff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
        height: 3px;
    }

    50%,
    100% {
        height: 2px;
        right: 100%;
    }
}

.button2:hover span:nth-child(4) {
    filter: hue-rotate(300deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3a86ff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}



.nabvar {
    width: 45%;

    background-color: rgb(197, 130, 130) !important;
    border-radius: 15px;
    margin: 15% 25% 10% 25%;
    border: 2px solid black;
}

.left-column a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 13px;
    justify-content: space-between;
    display: inline-block;
    padding-left: 55px;


}

.left-column a img {
    width: 40px;
}

form input {
    width: 50%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 10px;
    margin: 10px 30px;
    color: white;
    font-size: 15px;
    border-radius: 6px;

}

.down {
    display: flex;
    justify-content: space-between;
}

.down .right img {
    width: 100%;
}

form {
    width: 170%
}